<div class="container">

<h3>Edit house</h3>

<form action="/Classifieds/{{this.id}}/edit" method="post" enctype="multipart/form-data">

<div class="form-group">
  <label for="titleEdit">Title:</label>
  <input type="text" class="form-control" name="title" value="{{this.title}}" id="titleEdit">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
  <span class="input-group-text">$</span>
  </div>
  <input type="number" class="form-control" id="priceEdit" name="price" value="{{this.price}}" aria-label="Dollar amount (with dot and two decimal places)">
</div>


<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="motive" value="Rent" checked>
  <label class="form-check-label">Rent</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="motive" value="Sale" aria-describedby="radioHelp">
  <label class="form-check-label">Sale</label>
  <small id="checksHelp" class="form-text text-muted">Currently set to {{this.motive}}</small>
</div>

<div class="form-group">
  <label for="controlSelectEdit">State:</label>
  <select class="form-control" id="controlSelectEdit" name="state">
    {{#each states}}
      <option value="{{this.acronym}}">{{this.name}}</option>
    {{/each}}
  </select>
</div>

<div class="input-group">
  <div class="custom-file">
    <input type="file"  name="photo" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
    <label class="custom-file-label" for="inputGroupFile04">Images</label>
  </div>
</div>

<div class="form-check">
  <input class="form-check-input" name="pets" type="checkbox" value="Yes" id="checkEdit1">
  <label class="form-check-label" for="checkEdit1"> Pets ok </label>
</div>

<div class="form-check">
  <input class="form-check-input" name="laundry" type="checkbox" value="Yes" id="checkEdit2">
  <label class="form-check-label" for="checkEdit2"> Laundry on site </label>
</div>

<div class="form-check">
  <input class="form-check-input" name="available" type="checkbox" value="Yes" id="checkEdit3" aria-describedby="checksHelp2">
  <label class="form-check-label" for="checkEdit3"> Available now </label>
  <small id="checksHelp2" class="form-text text-muted">Keep in mind unchecked fields will be saved as "No"</small>
</div>

<div class="form-group">
  <label for="descriptionEdit">Description:</label>
  <textarea class="form-control" type="text"  placeholder="{{this.description}}" id="descriptionEdit" name="description" rows="3" aria-describedby="descriptionHelp2" required></textarea>
  <small id="descriptionHelp2" class="form-text text-muted">Please remember to give a way for users to contact you</small>
</div>

  {{#if message}}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
  {{/if}}

  <button id="updateButton" type="submit" class="btn btn-primary">UPDATE</button>
</form>
</div>