<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/" method="POST">
            <div class="form-group">
              <label for="username">Username</label>
              <input id="username" class="form-control" type="text" name="username" placeholder="Your username">
            </div>
            <div class="form-group">
              <label for="password1">Password</label>
              <input id="password1" type="password" class="form-control" name="password" placeholder="Your password">
            </div>
            <div class="form-group">
              <label for="password2">Retype password:</label>
              <input id="password2" type="password" class="form-control" name="password2" aria-describedby="passwordHelp" placeholder="Don't leave it to chance">
               <small id="passwordHelp" class="form-text text-muted">Sup</small>
            </div>
            {{#if message}}
              <div class="alert alert-danger" role="alert">{{ message }}</div>
            {{/if}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create account</button>
      </div>
      </form>
    </div>
  </div>
</div>

{{!-- Modal finish --}}

<div class="container">

  <div class="row">

    <div class="col-sm-2 list-group toScrollParent">
      <div class="toScroll">
       {{#each states}}
      <a class="list-group-item list-group-item-action" href="{{this.acronym}}">{{this.name}}</a>
      {{/each}}
      </div>
    </div>

    <div class="col-sm-10">

      <div class="row">
          {{#each house}}
            <div class="col-sm-6">
            <div class="card" style="margin-bottom: 2rem;">    
                {{#if imagePath}}
                  <img src="{{this.imagePath}}" class="card-img-top">
                {{/if}}
              <div class="card-body">
                  <h5 class="card-title">{{this.title}}</h5>
                  <p class="card-text">{{this.description}}.</p>
                 {{!-- <p> <a href="#" class="btn btn-primary">Read more</a></p> --}}
                   <small>Last updated: {{this.updated_at}}</small>
              </div>
            <ul class="list-group list-group-flush">
                  <li  class="list-group-item">Price: {{this.price}}</li>
                  <li  class="list-group-item">Motive: {{this.motive}}</li>
                  <li  class="list-group-item">State: {{this.state}}</li>
                  <li  class="list-group-item">Pets ok: {{this.pets}}</li>
                  <li  class="list-group-item">Laundry on site: {{this.laundry}}</li>
                  <li  class="list-group-item">Available now: {{this.available}}</li>
            </ul>
              
             </div>
            </div>
              {{/each}}
      </div>
    </div>
  </div>
</div>