<div class="container">

  <div class="row">

 <div class="col-2 list-group">
       {{#each states}}
      <a class="list-group-item list-group-item-action" href="{{this.acronym}}">{{this.name}}</a>
      {{/each}}
  </div>
  
    <div class="col-10">

      <div class="row">
          {{#each house}}
            <div class="col-4">
            <div class="card" style="width: 18rem; margin-bottom: 2rem;">    
                {{#if imagePath}}
                  <img src="{{this.imagePath}}" class="card-img-top">
                {{/if}}
              <div class="card-body">
                  <h5 class="card-title">{{this.title}}</h5>
                  <p class="card-text">{{this.description}}.</p>
              </div>
            <ul class="list-group list-group-flush">
                  <li  class="list-group-item">Price: {{this.price}}</li>
                  <li  class="list-group-item">Motive: {{this.motive}}</li>
                  <li  class="list-group-item">State: {{this.state}}</li>
                  <li  class="list-group-item">Pets ok: {{this.pets}}</li>
                  <li  class="list-group-item">Laundry on site: {{this.laundry}}</li>
                  <li  class="list-group-item">Available now: {{this.available}}</li>
            </ul>
             </div>
            </div>
              {{/each}}
      </div>
    </div>
  </div>
</div>